{% extends 'base.html' %}

{% block content %}
<div style="max-width:700px; margin:auto; padding:25px;
            background:#fff7fb; border-radius:18px;
            border:2px solid #e1c9ff; box-shadow:0 0 12px rgba(80, 40, 120, 0.3);">

    <h2 style="text-align:center; color:#5e4a92;">
        {% if object %}✿ Editar CV ✿{% else %}✿ Crear CV ✿{% endif %}
    </h2>
    <form method="POST" enctype="multipart/form-data" style="margin-top:20px;">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" style="
            background:#4e3e7a; color:white; padding:10px 20px;
            border:none; border-radius:10px; cursor:pointer; width:100%; font-size:16px;">
            Guardar 🎐
        </button>
    </form>

</div>
{% endblock %}




